<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@200&display=swap" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    {% load static %}
        <link rel="stylesheet" href="{% static 'navbar.css' %}">

        

    <title>atık kütüphanesi</title>
</head>

<body>
   <nav> 
        <div class="banner1">
            <div class="logo">
               <!--  <img src="imgs/SDG Wheel_WEB.png" alt="" srcset=""> -->
                <!-- <h4>ATIKKÜTÜPHANESİ</h4> -->
               <!--  <img style="height: 6rem; width: 16rem;" src="{%static 'imgs/4yeni.png'%}" alt="" srcset=""> -->
                <img style="height: 3rem; width: 13.25rem;" src="{%static 'imgs/atik.png'%}" alt="" srcset="">
                
               
            </div>
            <ul class="ul">
                <li><a  class="home" href="">Anasayfa</a></li>
                <li id="dropDownLi"><a class="a1 a2" href="about">Atık Türleri <i id="arrow" style="margin: 0; padding: 0; color: #1f4e6e; background-color: white;" class="fa-solid fa-caret-down"></i></a></li>
                <li><a class="a1" href="contact">Bize Ulaşın</a></li>
                <li><a class="a1" href="about">Hakkımızda</a></li>
                
            </ul>
            
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </div>
        <div class="middleLine">
           
        </div>
        <div class="navDrop">
            <div style="width: 100vw; height: 1rem; background-color: #1f4e6e;"></div>
            <ul id="blue" class="navDropUl">
               <!--  <li><a href="">atık</a></li>
                <li><a href="">atık</a></li>
                <li><a href="">atık</a></li>
                <li><a href="">atık</a></li>
                <li><a href="">atık</a></li>
                <li><a href="">atık</a></li>
                <li><a href="">atık</a></li>
                <li><a href="">atık</a></li>
                <li><a href="">atık</a></li> -->
            </ul>
        </div>

        
    </nav>
    <script src="{% static 'js/navbar.js' %}"></script>
</body>

</html>